* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #16a085;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 3px;
}

body {
  max-width: 1280px;
  min-width: 100%;
  font-family: sans-serif;
}

header {
  background: url("../img/header-bg.jpg") no-repeat top center;
  /*height: 745px;*/
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px 0;
}

nav {
  display: flex;
  ul {
    display: flex;
    li {
      display: block;
      flex-wrap: wrap;
      flex-direction: row;
      margin-right: 65px;
      align-self: center;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;

      }
      .menu-icon {
        font-size: 40px;
      }
    }
  }
}

.header {
  &-wrap {
    display: flex;
    justify-content: center;
  }
  &-title {
    margin: 250px 0 220px 0;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      margin: 10px 0 30px 0;
      letter-spacing: 2px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  a {
    display: block;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    i {
      color: #fff;
      font-size: 20px;
    }
  }
}

.section-1 {
  background: url("../img/section-1-bg.png") no-repeat top center;
  /*height: 495px;*/
  display: flex;
   .section-1-wrap{
    width: 1150px;
     margin: 0 auto;
     display: flex;
     padding: 110px 65px;
     .section-1-content {
       flex-basis: 385px;
       h2 {
        font-size: 18px;
        color: #16a085;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
       }
       p {
       font-size: 12px;
       color: #373737;
       text-align: left;
       letter-spacing: 1px;
       line-height: 20px;
       margin: 50px 0;
       }
     }
  }
}

.section-2 {
  display: flex;
  /*padding: ;*/
  .section-2-wrap {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 145px 65px 0;
    .section-2-photo {

    }
    .section-2-content {
      flex-basis: 385px;
      h2 {
        font-size: 18px;
        color: #16a085;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
      }
      p {
        font-size: 12px;
        color: #373737;
        text-align: left;
        letter-spacing: 1px;
        line-height: 20px;
        margin: 50px 0;
      }
      .numbers {
        display: block;
        margin: 46px 0 5px 0;
      }
      .angle {
        i {
          display: inline-block;
          margin-right: 10px;
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.section-3 {
  background: #f5f6f7;
  display: flex;
  flex-wrap: wrap;
  .section-3-wrap {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    padding: 120px 65px;
    .block-1 {
      flex-basis: 192px;
      text-align: center;
      margin-right: 65px;
      align-self: center;
      i {
        font-size: 60px;
        color: #26a68d;
      }
      h3 {
        font-size: 16px;
        color: #373737;
        font-weight: bold;
        text-transform: uppercase;
        margin: 30px 0 10px 0;
      }

      p {
        font-size: 10px;
      }
    }
    .block-2 {
      background: url("../img/section-3-block-2.jpg");
      width: 370px;
      height: 244px;
      margin-right: 25px;
    }
    .block-3 {
      background: url("../img/section-3-block-3.jpg");
      width: 370px;
      height: 244px;
    }
  }
}

.section-4 {
  background: url("../img/bg-sub.jpg") no-repeat top center;
  display: flex;
  .section-4-wrap {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin: 0 auto;
    text-align: center;
    padding: 350px 0 325px;
    h3 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
    form {
      input {
        background: #fff;
        padding: 17px 22px;
        margin-right: 0;
        border: none;
        width: 280px;
      }
      button {
        font-size: 17px;
      }
    }
  }
}

.section-5 {
  background: #f5f6f7;
  padding: 92px 65px 115px 65px;
  .section-5-wrap {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin: 0 auto;
    text-align: center;
    h3 {
      font-size: 20px;
      color: #373737;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {

    }
  }
}


